html, body {
    width: 100%;
}

body {
    /* ブラウザ既定の余白をリセット */
    margin: 0;
    padding: 0;
    overflow: hidden; /* スクロールバーを非表示 */
    display: flex;
    font-family: sans-serif;
    height: 100vh;
}

#control-panel {
    /* 左側のコントロールパネル（入力画面） */
    width: 300px; /* 幅を固定 */
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-group {
    width: 100%;
}

#x3d-container {
    /* 右側の3D表示エリア */
    flex-grow: 1;
    height: 100vh;
    position: relative;
}

#font-size-input,
#font-family-input {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;
    font-size: 1.1em;
}

#text-input {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1em; 
}

#control-panel p {
    margin-bottom: 5px;
}


@media (max-width: 600px) {
    
    body {
        flex-direction: column;
        overflow-y: auto; 
    }

    #x3d-container {
        width: 100%;
        height: 60vh; /* 画面の高さの60%を使用 */
        order: 1; /* control-panelより上に配置 */
    }

    #control-panel {
        width: 100%;
        height: auto; /* 内容に応じて高さを自動調整 */
        padding: 10px;
        order: 2; /* x3d-containerより下に配置 */
    }

    #control-panel .control-group {
        width: 100%;
        margin-bottom: 15px;
    }
    #font-size-input, .action-button, #font-family-input {
        max-width: 100%;
    }
}